/* ? Common Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  color: #3a3a3a;
}

/* ? Header Styles */
.header-container {
  margin-right: 120px;
  margin-left: 120px;
  margin-bottom: 50px;
}

.header-container .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title h1 {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 24px;
}

.nav-navigations a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  margin-right: 34px;
}

/* * Journey Starts */

.journey-starts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 120px;
  margin-bottom: 69px;
}

.journey-text {
  width: 582px;
  height: 270px;
}

.journey-illustration {
  width: 440px;
  height: 414px;
}

.journey-starts .journey-illustration img {
  width: 440px;
  height: 414px;
  background-image: url(../images/Circle\ design.svg);
}
#circle {
  position: relative;
}

#camera {
  position: absolute;
  top: 15%;
  z-index: 1;
}

.journey-title {
  font-weight: 700;
  font-size: 52px;
  color: #3a3a3a;
}

.button {
  width: 196px;
  height: 44px;
  border-radius: 41px;
  background-color: #e02c6d;
  border: none;
}

.button a,
.fa-arrow-right {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}

/* * Journey Section Ends here */

/* ** Brands Section Starts */
.brands {
  margin: 0 165px;
  border-top: 2px solid #aaaaaa;
  border-bottom: 2px solid #aaaaaa;
  margin-bottom: 100px;
}

.brands-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;
}

.brands img {
  margin-right: 60px;
}

/* ** Brands Section Ends */
.popular-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 28px;
}
.popular-collections {
  margin: 0 197px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.collection {
  width: 329px;
  height: 476px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

.collection .collection-image img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
}

.collection-texts {
  text-align: left;
  padding-left: 14px;
}

.bottom-text {
  margin-right: 296px;
}

.bottom-text p {
  text-align: right;
}
